.result{
    padding: 15px;
    width: 49%;
    background-color: white;
}

.title{
    margin: 5px 0;
    font-size: 22px;
    font-weight: 700;    
}

.label{
    font-size: 15px;
    font-weight: 400;    
}

.number{
    font-weight: 600;
    font-size: 20px;        
}

@media only screen and (max-width: 1000px) {
    .result{
        width: 100%;        
    }
}